body {
  margin: 0;
  font-family: Satisfy;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background-color: #282c34;
}

.app-title{
  font-family: Satisfy;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 3em;
  padding-bottom: 1%;
  margin-bottom: 2%;
}

.app-title img {
  height: 55px;
  padding: 0px 3%;
}

.app-header > span {
  display: flex;
  align-items: center;
  justify-content: center;
}

span > i {
  padding: 5px;
  font-size: 1.5em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
